[submodule "ProstT5"]
	path = ProstT5
	url = git@github.com:mheinzinger/ProstT5.git
[submodule "esm"]
	path = esm
	url = git@github.com:evolutionaryscale/esm.git
[submodule "unicore"]
	path = unicore
	url = git@github.com:steineggerlab/unicore.git
[submodule "Foldtree_ProstT5"]
	path = Foldtree_ProstT5
	url = git@github.com:DessimozLab/Foldtree_ProstT5.git
